.addAccounts {
    flex: 2;
    justify-content: space-between;
    align-items: center;
}
  
.gameChoiceBox {
    flex: 4;
    margin: 50px 300px;
    padding: 10px;
    justify-content: center;
    align-items:center;
    
}
  
.exampleText{
   font-size: 15px;
   color: gray;
}

